[Unit]
Description=cseval
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/lib/evalbot/run_playpen_fd dotnet_syscalls 0 /usr/bin/dotnet /usr/local/lib/evalbot_in/cseval/cseval.dll
WorkingDirectory=/usr/local/lib/evalbot
User=eval
Group=eval
Restart=always

[Install]
WantedBy=multi-user.target
