[Unit]
Description=exeval socket

[Socket]
ListenStream=/run/eval/exeval.sock
ReusePort=true
SocketUser=eval
SocketGroup=eval
SocketMode=0660
Accept=false

[Install]
WantedBy=multi-user.target
