[Unit]
Description=jseval
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/lib/evalbot/run_playpen_fd node_syscalls 0 /usr/bin/node /usr/local/lib/evalbot_in/jseval.js
WorkingDirectory=/usr/local/lib/evalbot
User=eval
Group=eval
Restart=always

[Install]
WantedBy=multi-user.target
