[Unit]
Description=pyeval
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/lib/evalbot/run_playpen_fd python_syscalls 0 /usr/bin/python /usr/local/lib/evalbot_in/pyeval.py
WorkingDirectory=/usr/local/lib/evalbot
User=eval
Group=eval
Restart=always

[Install]
WantedBy=multi-user.target
