[Unit]
Description=pyeval socket

[Socket]
ListenStream=/run/eval/pyeval.sock
ReusePort=true
SocketUser=eval
SocketGroup=eval
SocketMode=0660
Accept=false

[Install]
WantedBy=multi-user.target
