[Unit]
Description=tgbot
# pyeval.service jseval.service fseval.service cseval.service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=RUST_LOG=info
ExecStart=/usr/local/lib/evalbot/tgbot
WorkingDirectory=/usr/local/lib/evalbot
User=eval
Group=eval
Restart=always

[Install]
WantedBy=multi-user.target
