[Unit]
Description=tgbot
After=network-online.target pyeval.service jseval.service fseval.service cseval.service
Wants=network-online.target pyeval.service jseval.service fseval.service cseval.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/eval/evalbot/tgbot
WorkingDirectory=/home/eval/evalbot
User=eval
Group=eval
Restart=always

[Install]
WantedBy=multi-user.target
